#right {
    display: flexbox;
    flex-direction: column;
    background-color: blue;
}
#right .sale {
    flex: 2;
    display: flex;
    flex-direction: column;
}
#right .sale .change{
    width: 100%;
}
#right .sale .fakeimg {
    flex: 2;
    width: 10px;
}
#right .search {
    flex: 1;
}